.todo {
  display: flex;
  align-items: center;
}

.todo:not(:first-child) {
  margin-top: 1.8rem;
}

.todo.completed .text {
  text-decoration: line-through;
  color: var(--grey);  
}

.contents {
  flex: 1;
  margin: 0 1rem;
}

.text,
.input {
  padding: 0.5rem 0;
  font-size: 1.8rem;
  font-weight: 400;
}

.text {
  color: var(--text-color);
  word-break: break-all;
}

.input {
  display: block;
  width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: var(--todo-input-text-color);
  background-color: var(--todo-input-bg-color);
  border-radius: 0.4rem;
}

.control {
  display: flex;
  align-items: center;
  flex: 0 1 auto;
}

.button {
  border-radius: 50%;
  background-color: var(--delete-bg-color);
  color: var(--delete-btn-color);
}

.button:not(:first-child) {
  margin-left: 1rem;
}