@import './styles/reset.css';

* {
  box-sizing: border-box;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #4B5063;
}

.container {
  width: 500px;
  border-radius: 12px;
  background-color: #1A1C33;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header {
  padding: 1rem;
  border-bottom: 2px solid #333748;
}

.body {
  padding: 1rem;
  background-color: #222439;
}

.footer {
  padding: 1rem;
}