@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700&family=Noto+Sans+KR:wght@400;500;700&display=swap');
@import './styles/reset.css';

:root {
  --white: #ffffff;
  --orange: #f0852d;
  --grey: #888888;
  --indigo: #1a1c33;
  --indigo-light: #222439;
  --indigo-lighter: #333748;

  --point: var(--indigo);
  --bg-color: #f2f2f2;
  --text-color: var(--point);
  --border-color: #dddddd;
  --container-color: #f4f4f4;
  --body-color: #eeeeee;
  --delete-btn-color: var(--indigo);
  --delete-bg-color: #cccccc;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 64.5%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: 0 1rem;
  background-color: var(--bg-color);
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 1.2;
}

/* layouts */
.app {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  max-width: 500px;
  max-height: 60%;
  border-radius: 12px;
  background-color: var(--container-color);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* 버튼 공통 스타일 */
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  color: var(--point);
  background: transparent;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  opacity: 0.8;
}

.icon-btn:hover {
  transform: rotate(25deg) scale(1.2);
}

/* dark mode */
.ui-dark {
  --point: var(--orange);
  --bg-color: #4b5063;
  --text-color: var(--white);
  --border-color: var(--indigo-lighter);
  --container-color: var(--indigo);
  --body-color: var(--indigo-light);
  --delete-btn-color: var(--orange);
  --delete-bg-color: var(--indigo-lighter);
}

@media screen and (max-width: 640px) { 
  body {
    padding: 0;
  }

  .app {
    height: 100vh;
    max-width: 100%;
    max-height: 100vh;
    border-radius: 0;
  }
} 